name: Release Helm Charts (monorepo)

on:
  workflow_call:
    inputs:
      charts_dir:
        description: Directory containing the charts
        required: false
        type: string
        default: charts
      cr_config:
        description: Path to chart-releaser config file
        required: false
        type: string
        default: .github/cr.yaml

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Add Helm repositories
        env:
          CHARTS_DIR: ${{ inputs.charts_dir }}
        run: |
          for dir in $(find "${CHARTS_DIR}" -mindepth 1 -maxdepth 1 -type d); do
            helm dependency list "${dir}" 2>/dev/null | tail +2 | head -n -1 \
              | awk '{ print "helm repo add " $1 " " $3 }' \
              | while read cmd; do $cmd; done
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          charts_dir: ${{ inputs.charts_dir }}
          config: ${{ inputs.cr_config }}
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

      - name: Login to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Install Oras
        uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4

      # ref: https://github.com/backstage/charts/blob/88240ce7a0726e3773ee0e4866fbe6325c15267b/.github/workflows/release.yml#L50
      - name: Publish and Sign OCI Charts
        env:
          CHARTS_DIR: ${{ inputs.charts_dir }}
          COSIGN_EXPERIMENTAL: 1
        run: |
          for chart in $(find .cr-release-packages -name '*.tgz' -print); do
            helm push "${chart}" oci://ghcr.io/${GITHUB_REPOSITORY} |& tee helm-push-output.log
            file_name="${chart##*/}"
            chart_name="${file_name%-*}"
            digest=$(awk -F "[, ]+" '/Digest/{print $NF}' < helm-push-output.log)
            cosign sign -y "ghcr.io/${GITHUB_REPOSITORY}/${chart_name}@${digest}"

            oras push "ghcr.io/${GITHUB_REPOSITORY}/${chart_name}:artifacthub.io" \
              "./${CHARTS_DIR}/${chart_name}/artifacthub-repo.yml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml" \
              2>/dev/null || true
          done
